<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index html</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
     integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
     crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<!-- nav barr -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container">
          <a href="/home" class="m-3">
            <img src="/image/logo.png" alt="logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
           data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
           aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item m-2 ps-3">
                <a class="nav-link active fw-bold" href="/home">Home</a>
              </li>
              {{#if isLogin}}
              <li class="nav-item m-2">
                <a class="nav-link" href="/addMyProject">Add Project</a>
              </li>
            </ul>

            <div class="d-flex justify-content-end">
            <ul class="navbar-nav me-auto mb-2 ms-5 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Hallo, {{user}}</a>
              </li>
              <li class="nav-item ms-3 me-5">
                <a class="nav-link active" href="/logout">Logout</a>
              </li>
            </ul>
            {{else}}

              <li class="nav-item m-2">
                <a class="nav-link" href="/addMyProject"></a>
              </li>
            </ul>
            <div class="d-flex justify-content-end">
            <ul class="navbar-nav me-auto mb-2 ms-5 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <li class="nav-item ms-3 me-5">
                <a class="nav-link active" href="/login">Login</a>
              </li>
            {{/if}}
            </ul>

            <div class="d-flex">
                <a href="contactMe" class="btn bg-black text-white p-2 rounded-3">Contact Me</a>
              </div>
          </div>
        </div>
      </nav>

<!-- Card -->

<!-- alert from flash -->
  {{#if messages.success}}
  <div class="alert alert-dark" role="alert">
   {{messages.success}}
  </div>
  {{/if}}

    <div class="container d-flex justify-content-center align-items-center" style="height: 90vh;">
      <div class="card d-flex justify-content-center shadow" style="width: 1000px;">
        <div class="row g-0 d-flex justify-content-center">
          <div class="col-md-8">
            <div class="card-body m-4">
              <h2 class="card-title fw-bold">Hi Welcome to my hut</h2>
              <p class="card-text mt-3">Nama saya Lidia Maulida saya berumur 18 tahun saya berasal dari Kota Serang.
                 Saya lulus dari SMAN 4 Kota Serang.setelah lulus SMA saya memiliki ketertarikan akan bidang IT 
                 terlebih lagi akan coding . Maka dari itu saya memutuskan untuk belajar lebih dalam lagi di
                  bootcamp untuk mempelajari dan melatih kemampuan saya. Dan ini adalah tugas pertama saya.
              </p>
              <div class="d-flex mt-5">
              <p class="bg-black text-white p-1 ps-3 pe-3 rounded-4 " style="width: 90px;">contact</p>
              <p class=" ps-3">download CV</p>
              <i class="fa-solid fa-download  ps-2"></i>
              </div>
              <div class="d-flex mt-5">
                <a href="http://id.linkedin.com"><i class="fa-brands fa-linkedin pe-2 text-black" style="font-size: 35px;"></i></a>
                <a href="http://www.instagram.com"><i class="fa-brands fa-square-instagram ps-3 text-black" style="font-size: 35px;"></i></a>
                <a href="http://www.facebook.com"><i class="fa-brands fa-facebook ps-3 text-black" style="font-size: 35px;"></i></a>
                <a href="http://twitter.com"><i class="fa-brands fa-twitter ps-3 text-black" style="font-size: 35px;"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-3 m-4">
            <div class="rounded-2 m-3 shadow" style="width: 225px;">
              <img src="/image/lyd.jpeg" class="img-fluid rounded-top-3" alt="">
              <h4 class="text-center fw-bold mt-3">Lidia Maulida</h4>
              <p class="text-center pb-3">Fullstack Developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="border">

<!-- My Project -->
    <h1 class="fw-bold d-flex justify-content-center mt-5">My Project</h1>
    <div class="container d-flex justify-content-center" style="flex-wrap: wrap;">

      {{#each blogs}}
      <div class="card my-5 shadow mx-5" style="width: 18rem; border: none;">
        <img src="{{this.image}}" class="card-img-top p-2 rounded-4" style="height: 225px; object-fit: cover;" alt="...">
        <div class="card-body">
          <a href="/blogDetail/{{this.id}}" style="text-decoration: none;"><h6 class="card-title text-black">{{this.title}}</h6></a>
          <p>durasi: {{this.distanceTime}} | {{this.author}}</p>
          <p class="card-text">{{this.description}}</p>
            <div class="d-flex my-3">
              {{#if this.technologies.Node}}
                <i class="fab fa-node-js pe-2 fs-5"></i>
              {{/if}}
              {{#if this.technologies.React}}
              <i class="fa-brands fa-google-play px-2 fs-5"></i>
              {{/if}}
              {{#if this.technologies.Next}}
              <i class="fa-brands fa-android px-2 fs-5"></i>
              {{/if}}
              {{#if this.technologies.Typescript}}
              <i class="fa-solid fa-mobile px-2 fs-5"></i>
              {{/if}}
            </div>
          <div class="d-flex justify-content-center">
            <a href="/update/{{this.id}}"><button class="mx-1 btn bg-black text-white rounded-2 px-5">edit</button></a>
            <a href="/delete/{{this.id}}" style="text-decoration: none;" ><button class="mx-1 btn bg-black text-white rounded-2 px-5">delete</button></a>
          </div>
        </div>
      </div>
      {{/each}}

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>